= form_tag process_file_sites_path, method: :post do
  = hidden_field_tag :file_path, @file_path
  %table
    %tr
      %th
        CSV Header
      %th
        Site attribute
  
    - @headers.each_with_index do |header, index|
      %tr
        %td
          = header
        %td
          = select_tag "selects[#{header}]", options_for_select(@site_attributes), include_blank: true

  = submit_tag "Process"