%h1 Listing sites

= form_tag import_sites_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"

%table
  %tr
    %th Address
    %th City
    %th County
    %th Tombrobox
    %th Fault
    %th
    %th
    %th

  - @sites.each do |site|
    %tr
      %td= site.address
      %td= site.city
      %td= site.county
      %td= site.tombrobox
      %td= site.try(:fault).try(:name)
      %td= link_to 'Show', site
      %td= link_to 'Edit', edit_site_path(site)
      %td= link_to 'Destroy', site, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Site', new_site_path
