%p
  %b Structure type:
  %ul
    - @site.structure_types.each do |structure|
      %li= structure.name
%p
  %b Address:
  = @site.address
%p
  %b City:
  = @site.city
%p
  %b County:
  = @site.county
%p
  %b Tombrobox:
  = @site.tombrobox
- if @site.fault.present?
  %p
    %b Fault:
    = @site.fault.name

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
